- @functions.each do |function|
  .section
    = function.kind
    %span.name= function.name
    = "#{function.arguments} #{function.result}"
    %br
    - if function.documentation =~ /\n/
      %pre= function.documentation
    - else
      .monospace= function.documentation
